$background-color: color("cream");

$text-color-base:      color("black");
$text-color-heading:   color("darker-blue");

$link-color:           color("darker-blue");
$link-color-hover:     color("dark-blue");
$link-color-focus:     color("light-blue");
$link-color-active:    color("darker-blue");

$spacer-sm:  rem(4);
$spacer-std: rem(8);
$spacer-md:  rem(16);
$spacer-lg:  rem(24);
$spacer-xl:  rem(32);
$spacer-xxl: rem(40);
